.button {
    -fx-background-color: #53c18d;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.root {
    -fx-background-color: #eefcf9;
    -fx-border-color: #FEFE00;
    -fx-border-radius: 3px;
    -fx-background-radius: 3px;
    -fx-border-width: 2px;
}
